#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(32, 34, 35);
}

.input {
  margin: 5px;
  padding: 8px 5px;
  border-radius: 5px;
  outline: none;
  background-color: lightgray;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  width: 400px;
  color: black;
}

.addTodo,
.deleteAll {
  padding: 8px 15px;
  background-color: lightgray;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.addTodo:hover {
  background-color: royalblue;
  color: white;
}

.deleteAll:hover {
  background-color: red;
  color: white;
}

.todo-div {
  margin-top: 30px;
  width: 100%;
}

.todoPara {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(56, 56, 56);
  margin: 20px auto;
  font-size: 1.2em;
  width: 500px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.deleteBtn,
.editBtn {
  border-radius: 5px;
  color: black;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 7px;
  font-size: 0.8em;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

.deleteBtn:hover {
  color: white;
  background-color: red;
}

.editBtn:hover {
  color: white;
  background-color: royalblue;
}
